@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

:root {
  --bg-green-high: #022c22;
  --bg-green-low: #0dd054;
  --bg-green-nano: #0dd05475;
  --text-dark: #111;
  --text-light: #fff;
  --text-gray: #f9f9f9;
  --bg-primary: #f9f9f9;
  --text: #363636;
  --color-white: #fff;
  --color-white: #ffffff;
  --color-gray: #6d6d6d;
  --primary-bg: #242424;
  --bg-gray-20: #e6e6e6;
  --bg-white-20: #f2f2f2;
  --bg-black: #050505;
  --bg-white: #fefefe;
}

/* .button-white {
  @apply px-8 py-3 rounded-md flex justify-center items-center w-fit gap-2 bg-[var(--bg-green-high)] text-[var(--text-gray)]  hover:scale-105 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
} */
* {
  font-family: 'Poppins';
}

.scroll-bar-hide::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

#doctor_table::-webkit-scrollbar {
  display: block;
  background: var(--text);
  height: 4px;
  border-radius: 3px;
}

body {
  background: var(--color-white);
  font-family: 'Poppins', sans-serif;
}
.gold {
  @apply !bg-[linear-gradient(125deg,_#F9BC2E,_#E29A1E,_#FFCD38,_#F0AF30,_#F0AF30,_#E29A1E,_#DD931A)];
}
.bronze {
  @apply !bg-[linear-gradient(125deg,_#F97619,_#FDE3D1,_#E1650B,_#F3771F,_#F47B25,_#FBD2B4,_#E2650C)];
}
.silver {
  @apply !bg-[linear-gradient(125deg,_#9DA5A6,_#D7D7D7,_#BBBBBB,_#898989,_#8C8C8C,_#D9D8D6,_#777777)];
}

@layer utilities {
  .start-start {
    @apply flex justify-start items-start;
  }

  .start-center {
    @apply flex justify-start items-center;
  }

  .center-center {
    @apply flex justify-center items-center;
  }

  .between-center {
    @apply flex justify-between items-center;
  }

  .end-center {
    @apply flex justify-end items-center;
  }

  .grid-5 {
    @apply md:grid md:grid-cols-2 flex flex-col justify-start items-start md:items-center lg:grid-cols-3 xl:grid-cols-5 gap-4;
  }
  .grid-4 {
    @apply md:grid md:grid-cols-2 flex flex-col justify-start items-start md:items-center lg:grid-cols-3 xl:grid-cols-4 gap-4;
  }

  .grid-3 {
    @apply md:grid md:grid-cols-2 flex flex-col justify-start items-start md:items-center lg:grid-cols-3 gap-4;
  }

  .grid-2 {
    @apply md:grid md:grid-cols-2 flex flex-col justify-start items-start md:items-center gap-4;
  }

  .grid-3 {
    @apply md:grid md:grid-cols-2 xl:grid-cols-3 flex flex-col justify-start items-start md:items-center gap-4;
  }

  .grid-2-start {
    @apply md:grid md:grid-cols-2 flex flex-col justify-start items-start gap-4;
  }

  /* .button-black {
    @apply px-8 py-3 rounded-md flex justify-center items-center w-fit gap-2 bg-[var(--color-blue)] text-[var(--color-white)] border border-[var(--bg-black)] hover:scale-105 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
  } */

  .button-white {
    @apply px-8 py-3 rounded-md flex justify-start items-center w-fit gap-2 bg-[var(--color-white)] text-[var(--bg-black)]  hover:scale-102 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
  }

  .button-red {
    @apply px-8 py-3 rounded-md flex justify-center items-center w-fit gap-2 text-[var(--color-white)]  hover:scale-105 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
  }

  .button-green {
    @apply px-4 py-1 rounded-3xl flex justify-center items-center w-fit gap-2 bg-[var(--color-white)] text-[var(--color-white)]  hover:scale-105 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
  }

  .button-blue {
    @apply px-4 py-1 rounded-3xl flex justify-center items-center w-fit gap-2 bg-[var(--color-white)] text-[var(--color-blue)]  hover:scale-105 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
  }

  .links.active {
    @apply relative;
  }

  .links:hover {
    @apply relative;
  }

  .links.active::after {
    @apply h-full w-2 bg-[var(--bg-green-high)] rounded-br-full rounded-tr-full absolute -left-4;
  }
}

.links::after {
  content: '';
}

.jodit-status-bar {
  display: none;
}

.jodit-ui-spacer {
  background-color: #323232 !important;
}
.jodit-workplace + .jodit-status-bar:not(:empty) {
  display: none;
}

.jodit-toolbar-button.jodit-toolbar-button_size_middle.jodit-toolbar-button_variant_initial.jodit-toolbar-button_font.jodit-toolbar-button_with-trigger_true.jodit-ui-group__font {
  display: none;
}

/* .jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_list.jodit-ui-group_size_middle {
  display: none;
} */

.jodit-ui-spacer {
  display: none;
}

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_media.jodit-ui-group_size_middle {
  display: none;
}

/* .jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_state.jodit-ui-group_size_middle {
  display: none;
} */

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_insert.jodit-ui-group_size_middle {
  display: none;
}

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_indent.jodit-ui-group_size_middle {
  display: none;
}

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_color.jodit-ui-group_before-spacer_true.jodit-ui-group_size_middle {
  display: none;
}

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_history.jodit-ui-group_size_middle {
  display: none;
}

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_other.jodit-ui-group_size_middle {
  display: none;
}

.jodit-wysiwyg {
  background-color: #fff;
}
/* .ant-table-cell {
  color: #f9f9f9 !important;
  background-color: #323232 !important;
  border: none !important;
} */
/* .ant-table-row {
  background-color: #323232 !important;
  border: none !important;
} */
/* .table-row {
  background-color: #323232 !important;
  border: none !important;
} */
/* .ant-table-cell-row-hover {
  background-color: #323232 !important;
  border: none !important;
}
.ant-table-thead tr {
  border: none !important;
}
.ant-pagination-item {
  border-radius: 100% !important;
  background-color: #323232 !important;
} */
.ant-upload {
  width: 100% !important;
}

.ant-pagination-item a {
  color: black !important;
}

.modal-container .ant-modal-content {
  background-image: url('./assets/icons/alert.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  text-align: center;
}
.user-unverified .ant-select-selector {
  background-color: #ffcccc !important;
  color: red !important;
}
.user-verified .ant-select-selector {
  background-color: #ccf0eb !important;
  color: #00b69b !important;
}
.ant-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 20px !important;
}
.ant-pagination-item-link {
  border-radius: 10px !important;
  background-color: white !important;
  color: #111 !important;
}
.ant-pagination-item-active {
  background-color: #022c22 !important;
}
.ant-pagination-item-active a {
  color: white !important;
}
.car_upload .ant-upload {
  width: fit-content !important;
  padding: 0px 20px !important;
}
.loading {
 --speed-of-animation: 0.9s;
 --gap: 6px;
 --first-color: #4c86f9;
 --second-color: #49a84c;
 --third-color: #f6bb02;
 --fourth-color: #f6bb02;
 --fifth-color: #2196f3;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100px;
 gap: 6px;
 height: 100px;
}

.loading span {
 width: 4px;
 height: 50px;
 background: var(--first-color);
 animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
 background: var(--second-color);
 animation-delay: -0.8s;
}

.loading span:nth-child(3) {
 background: var(--third-color);
 animation-delay: -0.7s;
}

.loading span:nth-child(4) {
 background: var(--fourth-color);
 animation-delay: -0.6s;
}

.loading span:nth-child(5) {
 background: var(--fifth-color);
 animation-delay: -0.5s;
}

@keyframes scale {
 0%, 40%, 100% {
  transform: scaleY(0.05);
 }

 20% {
  transform: scaleY(1);
 }
}